html,
body{
  margin: 0;
  padding: 0;
}
#back_cover{
  z-index: -100;
}
#wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: grey;
  text-align: center;
}
#wrap input {
  display: none;
}
h1{
  font-family:cursive;
  color: white;
  font-size: 2em;
  font-size: 4vw;
  line-height: 1.2;
  text-shadow: 1px 1px 1px #333;
  float: left;
}
#header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: absolute;
  padding: 5px 5px;
  position: fixed;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  top: 0;
  left: 0;
}
#head_cover {
  margin: auto auto;
  /*background-color: darkgrey;*/
  width: 60%;
  height:50px;

}
#logo_cont{
  height: 100%;
  width: 70px;
  float: left;
  background-color: darkgrey;
}
#hold{
  width: 70%;
  padding: 7px 7px;
  margin: 0px auto;
  /*background-color: grey;*/
}
#menu_cont{
  height: 50%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background-color: red;*/
  margin-left: 50px;
}
#menu_cont label{
  font-family: cursive;
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
  -webkit-transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
}
#menu_cont label:hover{
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
}
.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8en 1em 0;
  background-position: 50% 50%;
  background-size: cover;
  transition: left 0s 0.75s;
  -webkit-transition: left 0s 0.75s;
  -moz-transition: left 0s 0.75s;
  -o-transition: left 0s 0.75s;
}

#slide-one {background-image: url('../images/341H.jpg');}
#slide-two {background-image: url('../images/194H.jpg');}
#slide-three {background-image: url('../images/deck.jpg');}
#slide-four {background-image: url('../images/shoes.jpg');}
#slide-five {background-image: url('../images/wheels.jpg');}
[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
  -webkit-transition: left 0.65s ease-out;
  -moz-transition: left 0.65s ease-out;
  -o-transition: left 0.65s ease-out;
}

.slide div {
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: transform 0.5s 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s 0.5s, opacity 0.5s;
}

[id^="slide"]:checked + .slide div {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transition: all 0.5s 0.5s;
  -webkit-transition: all 0.5s 0.5s;
  -moz-transition: all 0.5s 0.5s;
  -o-transition: all 0.5s 0.5s;
}


.middle_hld{
  width: 70%;
  height: 60%;
  background-color: grey;
  margin: 0px auto;
}
.bg_logo{
  width:60px;
  height: 60px;
  float: left;
  /*border: red 1px dashed;*/
}
.logos{
  width: 70%;
  /*border: red 1px dashed;*/
  height: 70%;
  margin: 120px auto;
}
.mid_logo{
  width: 100px;
  height: 100px;
  /*border: red 1px dashed;*/
  margin: 0px auto;
  z-index: 10;
}
.discript{
  font-family: cursive;
  width: 70%;
  height: 50%;
  /*border: red 1px dashed;*/
  margin: 0px auto;
  font-size: 1.6em;
  line-height: 1.2;
  text-align: center;
  padding-top: 20px;
  color: white;
  text-shadow: 1px 1px 2px #333;
}
.stand {
  cursor: pointer;
}
#stan_d {
  width: 50px;
  height: 100px;
}
#globe{
  width: 80px;
  height: 80px;
}
#graff{
  width: 56px;
  height: 100px;
}
#wrenc_h{
  width: 130px;
  height: 130px;
}
#foot{
  width: 90px;
  height: 100px;
}
.btn1_cont {
  width: 200px;
  height: 50px;
  margin: 10px auto;
}
.btn1 {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin: 6px auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: cursive;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.6);
  cursor: pointer;
  transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
  -webkit-transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s, color 0.3s 0s, border-radius 0.3s linear 0s;
}
.btn1:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: none;
}
